<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Full Regression">
  <test thread-count="5" name="Fully Automated Regression">
    <classes>
      <class name="test.DanceOff">
      </class>
      <class name="test.LeaderboardTestCases"/>
      <class name="test.Message"/>
      <class name="test.Team"/>
      <class name="test.TeamName"/>
    </classes>
  </test>
</suite>
